name: rbac-notifications-ui
namespace: urbi
replicaCount: 1
appVersion: staging

image: registry.momrah.gov.sa/urbi-omar/rbac-notifications-ui-stg:v0.1.4
containerPort: 80
servicePort: 80
serviceType: ClusterIP

resources:
  limits:
    cpu: "1"
    memory: "1Gi"
  requests:
    cpu: "100m"
    memory: "256Mi"

livenessProbe:
  path: /health
  initialDelaySeconds: 30
  periodSeconds: 10

ingress:
  name: rbac-notifications-ui
  host: baladyeye-stg.momah.gov.sa
  className: urbi
  corsAllowHeaders: DNT,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization,x-share-token
  rewriteTarget: /$2
  paths:
    - path: /notifications-ui(/|$)(.*)
      pathType: ImplementationSpecific
