name: zero-project-etl-pipeline
namespace: urbi

image: registry.momrah.gov.sa/urbi-omar/zero-project-etl-pipeline:v0.0.4

cronjob:
  schedule: "0 2 * * *"
  suspend: true

resources:
  limits:
    cpu: "1"
    memory: "1Gi"
  requests:
    cpu: "100m"
    memory: "256Mi"
