name: zero-project-apis
namespace: urbi
replicaCount: 1

image: registry.momrah.gov.sa/urbi-omar/zero-project-apis:latest
containerPort: 80
servicePort: 80
serviceType: ClusterIP

appVersion: production

resources:
  limits:
    cpu: "1"
    memory: "1Gi"
  requests:
    cpu: "100m"
    memory: "256Mi"

ingress:
  name: be-zero-project-apis
  className: urbi
  host: zero-project.momah.gov.sa
  path: /api/(.*)
  pathType: ImplementationSpecific
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-credentials: "true"
    nginx.ingress.kubernetes.io/cors-allow-methods: "GET, POST, PUT, DELETE, OPTIONS, PATCH"
    nginx.ingress.kubernetes.io/cors-allow-headers: "DNT,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization,x-share-token"
