name: cityview-hrh-insights
namespace: urbi
replicaCount: 1

image: registry.momrah.gov.sa/urbi-omar/hrh-insights:v1.4.3
containerPort: 8001
servicePort: 80
serviceType: ClusterIP

appVersion: production

resources:
  limits:
    cpu: "2"
    memory: "2Gi"
  requests:
    cpu: "500m"
    memory: "512Mi"

ingress:
  name: be-cityview-hrh-insights
  className: urbi
  host: cityview.momah.gov.sa
  path: /api/insights/(.*)
  pathType: ImplementationSpecific
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/cors-allow-credentials: "true"
    nginx.ingress.kubernetes.io/cors-allow-methods: "GET, POST, PUT, DELETE, OPTIONS, PATCH"
    nginx.ingress.kubernetes.io/cors-allow-headers: "DNT,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization,x-share-token"

