apiVersion: v1
kind: Service
metadata:
  name: {{ include "REGA_RBAC_Notifications_BE.fullname" . }}
  labels:
    {{- include "REGA_RBAC_Notifications_BE.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "REGA_RBAC_Notifications_BE.selectorLabels" . | nindent 4 }}
